.navbar {
  margin-top: -20px;
  margin-left: 400px;
  overflow: hidden;
  width: 100%; /* Full width */
  position: absolute;
  z-index: 2000;
}

/* Alle links in de navigatiebar */
.navbar a {
  float: left;
  display: inline-block;
  background-color:rgb(51,188,240);
  color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  margin-right: 60px;
}

/* Background kleur veranderen bij hover */
.navbar a:hover {
  background: #ddd;
  color: black;
}
body {
  margin: 0;
  background-image: url('../fotos/achtergrond_forum.jpg');
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1 {
  color: black;
}

.logo {
  z-index: 1;
  margin-top: -80px;
}
.top {
  background-color: #3D5DD2;opacity: 0.75;
  width: 100%;
  height: 100px;
}
.logoplek #balk{
  background-color: #E1F0FD;opacity: 0.75;
  width: 100%;
  height: 120px;
}
.logoplek img{
  left: 0px;
  top: 0px;
  margin-top: 15px;
  position: absolute;
}
.logoplek .zoek {
  position: absolute;
  margin-top: -80px;
  margin-left: 1350px;
}
.logoplek .zoek #button{
  position: absolute;
  display: inline-block;
  background-color:#3A74FA;
  padding: 10px 50px;
  z-index: 100;
}
.logoplek .zoek #blauw{
  position: absolute;
  background-color: #659BEC;
  display: inline-block;
  width: 100px;
  height: 39px;
  margin-top: 2px;
  margin-left: -50px;
  z-index: 99;
}
.header {
  position: absolute;
  margin-top: 40px;
  margin-left: 150px;
  z-index: 20;
}
.topic {
  background-color: #2F68E3;
  position: absolute;
  margin-top: 25px;
  margin-left: 60px;
  width: 1400px;
  text-align: left;
}
.topic h1{
  color: white;
  margin-left: 30px
}
.p1 {
  position: absolute;
  background-color: white;
  margin-left: 60px;
  margin-top: 190px;
  width: 1400px;
  height: 120px;
  text-align: left;
}
.p2{
  position: absolute;
  background-color: white;
  margin-left: 60px;
  margin-top: 390px;
  width: 1400px;
  height: 120px;
  text-align: left;
}
.footer{
  position: absolute;
  background-color: #3CA8E0;opacity: 0.75;
  margin-top: 40%;
  height: 100px;
  width: 100%
}
