.navbar {
  margin-top: -25px;
  overflow: hidden;
  width: 100%; /* Full width */
  position: absolute;
  z-index: 2000;
}

/* Alle links in de navigatiebar */
.navbar a {
  float: left;
  display: inline-block;
  background-color:rgb(51,188,240);
  color: #f2f2f2;
  text-align: center;
  padding: 10px 40px;
  text-decoration: none;
  margin-right: 60px;
}

/* Background kleur veranderen bij hover */
.navbar a:hover {
  background: #ddd;
  color: black;
}
body {
  margin: 0;
  background-image: url('../fotos/achtergrond_forum.jpg');
}
h1 {
  color: black;
}

.logo {
  z-index: 1;
  margin-top: -80px;
}
.top {
  background-color: #3D5DD2;opacity: 0.75;
  width: 100%;
  height: 100px;
}
.logoplek {
  background-color: #E1F0FD;opacity: 0.75;
  width: 100%;
  height: 120px;
}
