ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  width: 60px;
}

li a:hover:not(.active){
  background-color: #008a00;
}

.active {
  background-color: #00ff00;
}
